<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reviewrestaurants">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReviewRestaurants">
        <activity
            android:name=".DetailsActivity"
            android:exported="true"
            android:label="@string/title_activity_details"
            android:theme="@style/Theme.ReviewRestaurants.NoActionBar" />
        <activity
            android:name=".UserDashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_user_dashbaord"
            android:theme="@style/Theme.ReviewRestaurants.NoActionBar" />
        <activity
            android:name=".NavActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ReviewRestaurants.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>